@import '../../assets/variables.css';

.container {
  height: 42px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: $font-family-medium;
  font-size: $font-size-m;
  transition: background 0.1s, color 0.1s;
  cursor: pointer;
  padding: 0;
  border: 0;
  width: 100%;
  outline: 0;
  text-align: center;

  &.primary {
    background: $main-color;

    &:hover {
      background: rgba($main-color, 0.8);
    }

    &:active {
      background: #63debe;
    }
  }

  &.noBorder {
    font-size: $font-size-l;
    background: none;
    border: 1px solid #000;
    border-radius: 20px;
    text-transform: none;

    &:hover {
      background: #000;
      color: #fff;
    }
  }

  &.white {
    background: white;
  }

  &.gray {
    background: #eaeaea;

    &:hover {
      background: #d7d7d7;
    }

    &:active {
      background: #eaeaea;
    }
  }

  &.primary.disabled,
  &.gray.disabled,
  &.white.disabled {
    background: #bdbdbd;
    color: #868686;
    cursor: default;
  }
}

.spinner {
  top: 2px;
}
