@import '../../assets/variables.css';

.container {
  height: 100%;
  display: flex;
}

.content:after {
  content: '';
  display: block;
  height: 50px;
}

@media (max-width: calc($middle-width - 1px)) {
  .content {
    margin: 60px 16px 0;
    flex: 1;
  }
}

@media (min-width: $middle-width) and (max-width: calc($max-width - 1px)) {
  .content {
    margin: 50px 50px 0;
    flex: 1;
  }
}

@media (min-width: $max-width) {
  .content {
    width: 700px;
    margin: 50px auto 0;
  }
}
