@import '../../assets/variables.css';

.container {
  padding: 0 26px;
  position: relative;
  border-radius: 27px;
  background: #f5f6f5;
  width: 320px;
  height: 120px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;

  @media (max-width: $min-width) {
    width: 230px;
    height: 80px;
    padding: 0 14px;
  }
}

.widget {
  flex: 1;
}
