@import '../../assets/variables.css';

.container {
  background: #f8f8f8;
}

.logo {
  margin: 30px auto 0;
}

.title {
  @include typography-xl;

  margin-top: 20px;
  text-align: center;
}

.terms {
  margin-top: 20px;
  text-align: left;
}

.helloCat {
  margin: 0 auto;
  width: 161px;
  height: 143px;
  background: url('../../assets/images/hello-cat.png');
  background-size: cover;
  margin-top: 13px;
}

.callToAction {
  margin-top: 20px;
}

.back {
  margin-top: 20px;
}
