@import '../../assets/variables.css';

.title {
  @include typography-xxxxl;

  @media (max-width: $min-width) {
    @include typography-xxl;
  }
}

.inner {
  border-top: 3px dashed #d8d8d8;
  border-bottom: 3px dashed #d8d8d8;
  background: #fbfbfb;
  padding: 20px 25px;
  margin-top: 15px;

  @media (max-width: $min-width) {
    margin: 15px -25px 0;
  }
}

.description {
  @include typography-l;

  max-width: 320px;
  margin: 30px auto 0;
  text-align: center;
}

.order {
  max-width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
