@import '../../assets/variables.css';

.title {
  @include typography-xl;

  white-space: nowrap;
  text-align: center;
  color: #292929;
  margin-top: 30px;
}

.progress {
  margin: 20px 25px 0;
}

.description {
  @include typography-m;

  margin-top: 10px;
  color: #505050;
  text-align: center;
}

.dropzone {
  margin: 30px auto 0;
  width: 495px;
  height: 380px;
}

.notification {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
